
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>
  <%= f.error_notification %>
    <h2 class="text-center">Reset Password</h2>

    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    <%= f.button :submit, "Reset Password", class: "btn btn-primary btn-block" %>
    <br>
    <%= render "devise/shared/links" %>
<% end %>
